<template>
  <div>
    <svg
      class="repo-icon"
      width="12"
      height="16"
      viewBox="0 0 12 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M1.45925e-06 2.5C1.45925e-06 1.83696 0.263394 1.20107 0.732234 0.732233C1.20108 0.263392 1.83696 0 2.5 0L11.25 0C11.4489 0 11.6397 0.0790176 11.7803 0.21967C11.921 0.360322 12 0.551088 12 0.75V13.25C12 13.4489 11.921 13.6397 11.7803 13.7803C11.6397 13.921 11.4489 14 11.25 14H8.75C8.55109 14 8.36032 13.921 8.21967 13.7803C8.07902 13.6397 8 13.4489 8 13.25C8 13.0511 8.07902 12.8603 8.21967 12.7197C8.36032 12.579 8.55109 12.5 8.75 12.5H10.5V10.5H2.5C2.30308 10.5 2.11056 10.5582 1.94657 10.6672C1.78257 10.7762 1.65442 10.9312 1.57816 11.1128C1.50191 11.2943 1.48096 11.4943 1.51793 11.6878C1.5549 11.8812 1.64816 12.0594 1.786 12.2C1.92524 12.3422 2.0023 12.5338 2.00024 12.7328C1.99818 12.9318 1.91716 13.1218 1.775 13.261C1.63285 13.4002 1.4412 13.4773 1.24222 13.4752C1.04325 13.4732 0.85324 13.3922 0.714001 13.25C0.255713 12.7829 -0.000705812 12.1544 1.45925e-06 11.5V2.5ZM10.5 1.5V9H2.5C2.144 9 1.806 9.074 1.5 9.208V2.5C1.5 2.23478 1.60536 1.98043 1.79289 1.79289C1.98043 1.60536 2.23478 1.5 2.5 1.5H10.5ZM3 12.25V15.5C3 15.5464 3.01293 15.5919 3.03734 15.6314C3.06175 15.6709 3.09667 15.7028 3.1382 15.7236C3.17972 15.7444 3.22621 15.7532 3.27245 15.749C3.31869 15.7448 3.36286 15.7279 3.4 15.7L4.85 14.613C4.89328 14.5805 4.94591 14.563 5 14.563C5.05409 14.563 5.10673 14.5805 5.15 14.613L6.6 15.7C6.63714 15.7279 6.68131 15.7448 6.72755 15.749C6.77379 15.7532 6.82028 15.7444 6.8618 15.7236C6.90333 15.7028 6.93826 15.6709 6.96266 15.6314C6.98707 15.5919 7 15.5464 7 15.5V12.25C7 12.1837 6.97366 12.1201 6.92678 12.0732C6.87989 12.0263 6.81631 12 6.75 12H3.25C3.1837 12 3.12011 12.0263 3.07322 12.0732C3.02634 12.1201 3 12.1837 3 12.25Z"
      />
    </svg>

    <a :href="data.url">{{ data.name }}</a>
    <svg
      class="pointinghand-icon"
      width="16"
      height="17"
      viewBox="0 0 16 17"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M3.30001 12.4C3.00001 12 2.70001 11.3 2.10001 10.4C1.80001 9.9 0.900012 8.9 0.600012 8.5C0.400012 8.1 0.400011 7.9 0.500011 7.5C0.600011 6.9 1.20001 6.4 1.90001 6.4C2.40001 6.4 2.90001 6.8 3.30001 7.1C3.50001 7.3 3.80001 7.7 4.00001 7.9C4.20001 8.1 4.20001 8.2 4.40001 8.4C4.60001 8.7 4.70001 8.9 4.60001 8.5C4.50001 8 4.40001 7.2 4.20001 6.4C4.10001 5.8 4.00001 5.7 3.90001 5.3C3.80001 4.8 3.70001 4.5 3.60001 4C3.50001 3.7 3.40001 2.9 3.30001 2.5C3.20001 2 3.20001 1.1 3.60001 0.700002C3.90001 0.400002 4.50001 0.300002 4.90001 0.500002C5.40001 0.800002 5.70001 1.5 5.80001 1.8C6.00001 2.3 6.20001 3 6.30001 3.8C6.50001 4.8 6.80001 6.3 6.80001 6.6C6.80001 6.2 6.70001 5.5 6.80001 5.1C6.90001 4.8 7.10001 4.4 7.50001 4.3C7.80001 4.2 8.10001 4.2 8.40001 4.2C8.70001 4.3 9.00001 4.5 9.20001 4.7C9.60001 5.3 9.60001 6.6 9.60001 6.5C9.70001 6.1 9.70001 5.3 9.90001 4.9C10 4.7 10.4 4.5 10.6 4.4C10.9 4.3 11.3 4.3 11.6 4.4C11.8 4.4 12.2 4.7 12.3 4.9C12.5 5.2 12.6 6.2 12.7 6.6C12.7 6.7 12.8 6.2 13 5.9C13.4 5.3 14.8 5.1 14.9 6.5C14.9 7.2 14.9 7.1 14.9 7.6C14.9 8.1 14.9 8.4 14.9 8.8C14.9 9.2 14.8 10.1 14.7 10.5C14.6 10.8 14.3 11.5 14 11.9C14 11.9 12.9 13.1 12.8 13.7C12.7 14.3 12.7 14.3 12.7 14.7C12.7 15.1 12.8 15.6 12.8 15.6C12.8 15.6 12 15.7 11.6 15.6C11.2 15.5 10.7 14.8 10.6 14.5C10.4 14.2 10.1 14.2 9.90001 14.5C9.70001 14.9 9.20001 15.6 8.80001 15.6C8.10001 15.7 6.70001 15.6 5.70001 15.6C5.70001 15.6 5.90001 14.6 5.50001 14.2C5.20001 13.9 4.70001 13.4 4.40001 13.1L3.30001 12.4Z"
      />
      <path
        d="M3.30001 12.4C3.00001 12 2.70001 11.3 2.10001 10.4C1.80001 9.9 0.900012 8.9 0.600012 8.5C0.400012 8.1 0.400011 7.9 0.500011 7.5C0.600011 6.9 1.20001 6.4 1.90001 6.4C2.40001 6.4 2.90001 6.8 3.30001 7.1C3.50001 7.3 3.80001 7.7 4.00001 7.9C4.20001 8.1 4.20001 8.2 4.40001 8.4C4.60001 8.7 4.70001 8.9 4.60001 8.5C4.50001 8 4.40001 7.2 4.20001 6.4C4.10001 5.8 4.00001 5.7 3.90001 5.3C3.80001 4.8 3.70001 4.5 3.60001 4C3.50001 3.7 3.40001 2.9 3.30001 2.5C3.20001 2 3.20001 1.1 3.60001 0.700002C3.90001 0.400002 4.50001 0.300002 4.90001 0.500002C5.40001 0.800002 5.70001 1.5 5.80001 1.8C6.00001 2.3 6.20001 3 6.30001 3.8C6.50001 4.8 6.80001 6.3 6.80001 6.6C6.80001 6.2 6.70001 5.5 6.80001 5.1C6.90001 4.8 7.10001 4.4 7.50001 4.3C7.80001 4.2 8.10001 4.2 8.40001 4.2C8.70001 4.3 9.00001 4.5 9.20001 4.7C9.60001 5.3 9.60001 6.6 9.60001 6.5C9.70001 6.1 9.70001 5.3 9.90001 4.9C10 4.7 10.4 4.5 10.6 4.4C10.9 4.3 11.3 4.3 11.6 4.4C11.8 4.4 12.2 4.7 12.3 4.9C12.5 5.2 12.6 6.2 12.7 6.6C12.7 6.7 12.8 6.2 13 5.9C13.4 5.3 14.8 5.1 14.9 6.5C14.9 7.2 14.9 7.1 14.9 7.6C14.9 8.1 14.9 8.4 14.9 8.8C14.9 9.2 14.8 10.1 14.7 10.5C14.6 10.8 14.3 11.5 14 11.9C14 11.9 12.9 13.1 12.8 13.7C12.7 14.3 12.7 14.3 12.7 14.7C12.7 15.1 12.8 15.6 12.8 15.6C12.8 15.6 12 15.7 11.6 15.6C11.2 15.5 10.7 14.8 10.6 14.5C10.4 14.2 10.1 14.2 9.90001 14.5C9.70001 14.9 9.20001 15.6 8.80001 15.6C8.10001 15.7 6.70001 15.6 5.70001 15.6C5.70001 15.6 5.90001 14.6 5.50001 14.2C5.20001 13.9 4.70001 13.4 4.40001 13.1L3.30001 12.4Z"
        stroke="black"
        stroke-width="0.75"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M11.6 12.7V9.3"
        stroke="black"
        stroke-width="0.75"
        stroke-linecap="round"
      />
      <path
        d="M9.6 12.7L9.5 9.3"
        stroke="black"
        stroke-width="0.75"
        stroke-linecap="round"
      />
      <path
        d="M7.59998 9.3V12.7"
        stroke="black"
        stroke-width="0.75"
        stroke-linecap="round"
      />
    </svg>
  </div>
</template>

<script>
export default {
  name: 'suggestion-item',

  props: {
    data: Object,
  },
};
</script>
