<template>
  <div id="app">
    <header>
      <div class="search">
        <svg
          class="seach-icon"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15.8045 14.8618L11.2545 10.3119C12.1359 9.22324 12.6665 7.83991 12.6665 6.33327C12.6665 2.84131 9.8252 0 6.33324 0C2.84128 0 0 2.84128 0 6.33324C0 9.8252 2.84131 12.6665 6.33327 12.6665C7.83991 12.6665 9.22324 12.1359 10.3119 11.2545L14.8618 15.8045C14.9918 15.9345 15.1625 15.9998 15.3332 15.9998C15.5039 15.9998 15.6745 15.9345 15.8045 15.8045C16.0652 15.5438 16.0652 15.1225 15.8045 14.8618ZM6.33327 11.3332C3.57596 11.3332 1.33333 9.09056 1.33333 6.33324C1.33333 3.57593 3.57596 1.3333 6.33327 1.3333C9.09059 1.3333 11.3332 3.57593 11.3332 6.33324C11.3332 9.09056 9.09056 11.3332 6.33327 11.3332Z"
          />
        </svg>
        <input
          ref="search"
          type="text"
          class="search-field-input"
          placeholder="Type anything..."
          v-model="query"
        />
        <svg
          v-if="query && !loading"
          @click="clearQuery()"
          class="cross-icon"
          width="12"
          height="12"
          viewBox="0 0 12 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M11.7359 0.263992C11.3839 -0.0879975 10.8133 -0.0879973 10.4613 0.263992L5.99995 4.72533L1.53865 0.264002C1.18666 -0.0879876 0.615978 -0.0879877 0.263991 0.264002C-0.0879969 0.615991 -0.0879969 1.18668 0.263991 1.53867L4.72529 6L0.263991 10.4613C-0.0879967 10.8133 -0.0879967 11.384 0.263991 11.736C0.615978 12.088 1.18666 12.088 1.53865 11.736L5.99995 7.27467L10.4613 11.736C10.8133 12.088 11.3839 12.088 11.7359 11.736C12.0879 11.384 12.0879 10.8133 11.7359 10.4613L7.27461 6L11.7359 1.53866C12.0879 1.18667 12.0879 0.615982 11.7359 0.263992Z"
          />
        </svg>
        <svg
          v-if="loading"
          class="spinner-icon"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9.9 0L9.7 1.01266C12.7 1.82278 15 4.55696 15 7.89873C15 11.8481 11.9 14.9873 8 14.9873C4.1 14.9873 1 11.8481 1 7.89873C1 4.55696 3.3 1.82278 6.3 1.01266L6.1 0C2.6 0.911392 0 4.1519 0 7.89873C0 12.3544 3.6 16 8 16C12.4 16 16 12.3544 16 7.89873C16 4.1519 13.4 0.911392 9.9 0Z"
          />
        </svg>
      </div>
      <div
        v-show="showData"
        v-closable="{
          exclude: ['search'],
          handler: 'onClose',
        }"
        class="suggestions"
        v-if="data.length"
      >
        <suggestion-item
          v-for="(item, index) in data"
          :key="index"
          :data="{ name: item.name, url: item.url }"
        />
      </div>
    </header>
  </div>
</template>

<script>
import SuggestionItem from './components/SuggestionItem';
import { mapGetters, mapActions } from 'vuex';
import _ from 'lodash';

export default {
  name: 'App',

  components: { SuggestionItem },

  data() {
    return {
      query: '',
      showData: false,
    };
  },

  computed: mapGetters(['data', 'loading']),

  watch: {
    query: {
      handler(query) {
        this.showData = false;
        this.resetState();
        if (query.length > 2) {
          this.setQuery(query);
          this.debouncedFetchData();
          this.showData = true;
        }
      },
      deep: true,
    },
  },

  created: function() {
    this.debouncedFetchData = _.debounce(this.fetchData, 500);
  },

  methods: {
    clearQuery() {
      this.query = '';
      this.focusInput();
    },
    focusInput() {
      this.$refs.search.focus();
    },
    ...mapActions(['fetchData', 'setQuery', 'resetState']),
    onClose() {
      this.showData = false;
    },
  },
};
</script>
