body {
  margin: 0;
  padding: 0;
  font-family: $font-family-roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: left;
}
header {
  height: 80px;
  width: 100%;
  background: $dark;

  .search {
    position: absolute;
    width: 456px;
    height: 48px;
    left: 12px;
    top: 16px;

    .search-field-input {
      background: $grey-light;
      border: 2px solid $grey;
      box-sizing: border-box;
      border-radius: 100px;
      height: 100%;
      width: 100%;
      padding: 0 51px 0 48px;
      color: $dark;
      outline: none;

      &:focus {
        border-color: $accent;
        border-radius: 100px;
      }
    }

    .seach-icon {
      position: absolute;
      top: 16px;
      left: 16px;
      fill: $dark;
    }

    .spinner-icon {
      position: absolute;
      top: 16px;
      right: 16px;
      fill: $dark;
    }

    .cross-icon {
      position: absolute;
      top: 18px;
      right: 18px;
      cursor: pointer;
      fill: $dark;
    }
  }

  .suggestions {
    position: absolute;
    width: 456px;
    left: 12px;
    top: 88px;
    background: $grey-light;
    border: 1px solid $grey;
    box-sizing: border-box;
    border-radius: 4px;

    > div {
      height: 48px;
      position: relative;
      border: 1px solid transparent;
      box-sizing: border-box;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;
      cursor: pointer;
      > a {
        text-decoration: none;
        color: $dark;
        width: 357px;
      }

      .repo-icon {
        fill: $dark;
      }

      .pointinghand-icon {
        visibility: hidden;
        fill: $white;
      }

      &:hover {
        background-color: $accent;
        > a {
          color: $white;
        }
        .repo-icon {
          fill: $white;
        }
        .pointinghand-icon {
          visibility: visible;
        }
      }
    }
  }
}
.outside {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
}
